@use '../utils//variables' as *; // récupérer les variables

article {    
    .imgFlight {
        max-width: 100px;
    } 

    [id="articleButtonKnowMore"] {
        border:none;
        border-bottom: 2px solid green;
        margin-left: 4rem;
        @media screen and (width > 1290px) {
            margin-left: 16rem;

        }
        transition: margin-left 1s ease-out;
    } 
}
