@use '../utils//variables' as *; // récupérer les variables

article {    
    .imgFlight {
        max-width: 100px;
    } 

    [id="articleButtonKnowMore"] {
        border:none;
        border-bottom: 2px solid $success;
    }
}

.sectionSellingPoints {
    .sellingPointElement {
        height: 270px;
    }
}
