@use '../utils/variables' as *; // Importation des variables
@use '../utils/placeholders' as *;

// Mobile first
header {
 background-color: $primary;
 a {
    background-color: white;
    color: black;
    padding: 1rem;
 }
}